/*CLIENTES*/

body#clientesPage{
    text-align: center;
    height: 1000px;
    position: relative;
    width: auto;
    display: flex;
    flex-direction: column;
    background: radial-gradient(74.26% 56.67% at 52.94% 43.33%, #0F2546 27.08%, #305D84 60.42%, #0F2546 92.71%)
    
}

.containerClientes{
    display: grid;
    grid-template-columns: repeat(auto, 100px);
    grid-template-rows: repeat(10, 100px);
}


.referenciash2Text{
    position: absolute;
    left: 475px;
    right: 10px;
    top: 3%;
    bottom: 90%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #000000;

}


.referenciasPage{
    position: absolute;
    width: 1200px;
    height: 710px;
    left: 325px;
    top: 125px;
    background: white;

}

.blueRectanglereferences{
    position: absolute;
    width: 195px;
    height: 7px;
    left: 500px;
    top: 80px;

background: #005696;
border: 1px solid #000000;

}


.referenciasPage h4{
    position: absolute;
width: 1175px;
height: 200px;
left: 20px;
top: 500px;

font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 40px;
text-align: left;
color: #000000;


}


.imageReferencias{
    position: absolute;
    width: 1375px;
    height: 345px;
    left:-88px;
    top: 125px;
    background-image: url(../assets/images/referencias.png);
    background-size:contain;
    background-repeat: no-repeat;
    -webkit-background-size:1200px 345px;
    background-position: center center;
    
}


/* CLIENTES FOOTER*/

.footerClientes{
    grid-column: 1 / 21;
    grid-row: 10/ 10;
    background-color: white;

}

.footerClienteslogo{
    background-image: url(../assets/images/gragus-logo-pistol.jpg);
    position: absolute;
    background-image: url(../assets/images/gragus-logo-pistol.jpg);
    width: 56px;
    height: 55px;
    background-size: 56px 55px;
    background-repeat: no-repeat;
    top: 925px;
    right: 1775px;
}

.footerClientestext{
    position: absolute;
    width: 375px;
    height: 10px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    top: 940px;
    right: 25px;

}
