/* CONTACTOS*/


body#contactoPage{
    text-align: center;
    position: relative;
    width: auto;
    display:flex;
    flex-direction: column;
    background: url(../assets/images/w-watermark-covers/poliurea-spray-apli.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-origin: content-box;
    overflow-y: scroll;
    background-position-y: -350px;
    text-align: center;
}

.footerContactos img{
    left: 500px;
}

footer {
    background-color: white;
    padding: 3%;

}
