

/* PRODUCTOS*/

body#productosBody{
    text-align: center;
    position: relative;
    width: auto;
    display:flex;
    flex-direction: column;
    background: url(../assets/images/w-watermark-covers/poliurea-spray-apli.jpeg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-origin: content-box;
    overflow-y: scroll;
    background-position-y: -350px;
    text-align: center;
}

.containerProductos{
    display: grid;
    grid-template-columns: repeat(auto, 100px);
    grid-template-rows: repeat(33, 100px);

}

/* BOX NUMBER ONE*/

.b1{ /* poliuretano*/
    grid-column: 1 / 21;
    grid-row: 1 / 9;
    margin-top: 6%;
    background: white;
}

.h3Poliuretano{
    position: absolute;
    left: 37.75%;
    right: 37.66%;
    top: 2.5%;
    bottom: 92.77%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.blueRectangleproductspoliuretano{
    position: absolute;
    align-self: center;
    right: 45%;
    top: 5.95%;
    height: 6px;
    width: 188px;
    background: #005696;
}

.h4Textpoliuretano{
    position: absolute;
    width: 1755px;
    height: 196px;
    left: 30px;
    top: 575px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    color: #000000;
    text-align: center;
}


.imagePoliuretanoproducts{
    position: absolute;
    width: 800px;
    height: 268px;
    background: url(../assets/images/w-watermark-covers/poliuretano03_g.jpg);
    border-radius: 40px;
    top: 250px;
    left: 533px;
    align-self: center;
}

/* BOX NUMBER TWO*/


.b2{ /*warningList / warningText2 / warningList*/
    grid-column: 1 / 7;
    grid-row: 9 / 13;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: -10%;
    margin-right: -10%;
    background: #FFFFFF;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
}

.warningText{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 44px;
    text-align: right;
    letter-spacing: 0.07em;
    text-decoration-line: underline;
    text-transform: capitalize;
    color: #FF0000;
    position: absolute;
    width: 141.58px;
    height: 225px;
    left: 210px;
    bottom: 2230px;
}

.warningText2{
    position: absolute;
    width: 380.1px;
    height: 28px;
    left: 130px;
    bottom: 2355px;
    
    font-family: 'Mulish';
    font-style: italic;
    font-weight: 700;
    font-size: 24px;
    line-height: 35px;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.07em;
    
    color: #000000;
}

.warningList{
    position: absolute;
    width: 615px;
    height: 130px;
    left: 50px;
    bottom: 2200px;
    
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 35px;
    text-align: left;
    letter-spacing: 0.07em;
    
    color: #000000;
}


/* BOX NUMBER THREE AD*/

.b3{ /*adBox*/
    grid-column: 18 / 20;
    grid-row: 9 / 13;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-right: -45%;
    border-radius: 15px;
    background: white;
}

.adBoxtext{
    position: absolute;
    font-family: 'Mulish';
    font-style:normal;
    font-weight: 400;
    font-size: 33px;
    line-height: 50px;
    color: #000000;
    top: 855px;
    left: 1630px;

}

/* BOX NUMBER FOUR*/

.b4{ /*poliurea*/
    grid-column: 1 / 21;
    grid-row: 13 / 21;
    background: white;
    
}

.h3Poliurea{
    position: absolute;
    top: 38%;
    right: 41%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;
}

.blueRectangleproductspoliurea{
    position: absolute;
    left: 45%;
    top: 38.90%;
    height: 6px;
    width: 188px;
    background: #005696;
}

.imagePoliureaproducts{
    position: absolute;
    width: 800px;
    height: 268px;
    background: url(../assets/images/prod-quim-watermark/spi_galeria53_g-enh.jpg);
    background-position: 800px;
    background-repeat: repeat-x;
    background-size:contain;
    border-radius: 40px;
    left: 533px;
    top: 1330px;
    align-self: center;
}

.h4Textpoliurea{
    position: absolute;
    width: 1825px;
    height: 196px;
    left: 19.03px;
    top: 1630px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #000000;
}



.b5{ /* maquinaria*/
    grid-column: 1 / 21;
    grid-row: 20 / 29;
    margin-top: 8%;
    background: white;
}

.h3Maquinaria{
    position: absolute;
    top: 64%;
    right: 38.70%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 0px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #000000;

}

.blueRectangleproductsmaquinaria{
    position: absolute;
    left: 45%;
    top: 65%;
    height: 6px;
    width: 188px;
    background: #005696;
}

.h4Gracoreactor{
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 50px;
    text-align: center;
    color: #000000;
    position: absolute;
    width: 900px;
    height: 52px;
    right: 26%;
    top: 65.5%;
}

.imageMaquinariaproducts{
    position: absolute;
    width: 800px;
    height: 268px;
    background: url(../assets/images/fotospaginaweb/hpfc-mid-production.png);
    background-position: 800px;
    background-repeat: repeat-x;
    background-size:contain;
    border-radius: 40px;
    left: 533px;
    top: 2230px;
    align-self: center;

}

.h4Textmaquinaria{
    position: absolute;
    width: 1825px;
    height: 196px;
    left: 19.03px;
    top: 2530px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 45px;
    text-align: center;
    color: #000000;

}



.b6{ /*pdf list under maquinaria*/
    grid-column: 6 / 16;
    grid-row: 29 / 32;
    margin-top: 4%;
    margin-bottom: -5%;
    background: #FFFFFF;
    border-radius: 15px;
}

.pdfList{
    position: absolute;
    width: 355px;
    height: 10px;
    left: 525px;
    top: 2920px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    vertical-align: top;
    color: #000000;
    text-align: left;
}

.pdfListdos{
    position: absolute;
    width: 500px;
    height: 10px;
    left: 925px;
    top: 2885px;
    font-family: 'Mulish';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    vertical-align: top;
    color: #000000;
    text-align: left;
    text-decoration: none;

}

.pdfText{ 
    position: absolute;
    width: 375px;
    height: 10px;
    left: 425px;
    top: 2855px;
    font-family: 'Mulish';
    font-style: normal;
    text-decoration-line: underline;
    font-weight: 400;
    font-size: 30px;
    color: #000000;
    list-style: none;
    text-align: center;
} 


/* FOOTER W GRIDS */


.footer{
    grid-column: 1 / 21;
    grid-row: 33 / 33;
    background: white;
}

.footerLogoproducts{
    position: absolute;
    background-image: url(../assets/images/gragus-logo-pistol.jpg);
    width: 56px;
    height: 55px;
    background-size: 56px 55px;
    background-repeat: no-repeat;
    top: 3225px;
    right: 1775px;
}

.footerTextallrightsproducts{
    position: absolute;
    width: 375px;
    height: 10px;
    font-family: 'Arial';
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    top: 3235px;
    right: 25px;
}



